<div class="container-fluid gray hidden-sm hidden-xs">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">

				<h4>{{site.data.settings.client.brand}}</h4>
			</div>
		</div>
	<div class="row">
		<div class="about-container">

			<div class="col-lg-4 hidden-sm hidden-xs">
				<div class="client-image-container">
					<img src="/img/headshot.jpg" alt="Ryan Butler" class="client-image" />
				</div><br />
				<strong>Ryan Butler</strong><br>
				Managing Partner, Realtor<br>
				<a href="tel:1-202-813-8144">202-813-8144</a><br>
				<a href="mailto:ryan@coalitionpg.com">ryan@coalitionpg.com</a>
			</div>


			<div class="col-lg-4 hidden-sm hidden-xs">

					<div class="client-image-container">
						<img src="/img/harrison.jpg" alt="Harrison Beacher" class="client-image" />
					</div><br />
					<strong>Harrison Beacher</strong><br>
					Managing Partner, Realtor<br>
					<a href="tel:1-301-448-6569">301-448-6569</a><br>
					<a href="mailto:harrison@coalitionpg.com">harrison@coalitionpg.com</a>
				</div>


				<div class="col-lg-4 hidden-sm hidden-xs">

						<div class="client-image-container">
							<img src="/img/keith.jpg" alt="Keith James" class="client-image" />
						</div><br />
						<strong>Keith James</strong><br>
						Managing Partner, Realtor<br>
						<a href="tel:1-202-808-1381">202-808-1381</a><br>
						<a href="mailto:keith@coalitionpg.com">keith@coalitionpg.com</a>
					</div>
	</div>
</div>
</div>
